In [25]:
import pyspark
import os
import pandas as pd

In [11]:
sc = pyspark.SparkContext().getOrCreate()

In [12]:
spark = pyspark.sql.SparkSession(sc)

In [19]:
path_movie = u"C:/Users/micha/Documents/vertuo/datascientest/data/parsed_data/day=20190901"

In [30]:
spark.read.parquet(os.path.join(path_movie, "movie_budget.parquet")).count()

5824

In [44]:
df = pd.read_parquet(os.path.join(path_movie, "movie_budget.parquet"))

In [45]:
df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
1,2009-12-17,Avatar,425000000.0,760507625.0,2.789705e+09
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
3,2019-04-23,Avengers: Endgame,400000000.0,858339001.0,2.795439e+09
4,2019-06-05,Dark Phoenix,350000000.0,65845974.0,2.463569e+08
5,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09

In [46]:
df["title"] = df.movie.str.lower().replace("\W", "", regex=True)
df = df.set_index("title")

In [47]:
df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
title,,,,,
avatar,2009-12-17,Avatar,425000000.0,760507625.0,2.789705e+09
piratesofthecaribbeanonstrangertides,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
avengersendgame,2019-04-23,Avengers: Endgame,400000000.0,858339001.0,2.795439e+09
darkphoenix,2019-06-05,Dark Phoenix,350000000.0,65845974.0,2.463569e+08
avengersageofultron,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09

In [10]:
sc.stop()